.App {
  display: flex;
  flex-direction: row;
}

.write {
  width: 500px;
  height: 500px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: space-around;
}

form {
  width: 100%;
  height: 100%;
}
